# Environments
ai-ml-py3.12/
venv/
.env/

# Python
__pycache__/
*.pyc

# Data
*.txt
*.csv

# Models
*.pt
*.pth
*.log
# Jupyter
.ipynb_checkpoints/
*.pdf
chroma_db
poetry.lock

file
data 
.env 
storage

postman

.postman
chromadb
__pycache__/
*.pyc
logs/